In [34]:
import numpy as np
import pandas as pd

df = pd.read_csv('bootcamp.csv', sep=';', index_col='id')

In [47]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.011177

In [56]:
df.describe()

In [19]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

### Женщины:

In [33]:
df[df['gender'] == 1]['height'].mean()

161.35561168460356

употребляют алкоголь:

In [21]:
df[df['gender'] == 1]['alco'].mean()

0.025499670546892159

Процент курящих женщин:

In [25]:
df[df['gender'] == 1]['smoke'].mean()*100, '%'

(1.7856358444981333, '%')

### Мужчины:

In [13]:
df[df['gender'] == 2]['height'].mean()

169.94789538210054

употребляют алкоголь:

In [22]:
df[df['gender'] == 2]['alco'].mean()

0.10637515324887617

Процент курящих мужчин:

In [28]:
df[df['gender'] == 2]['smoke'].mean()*100, '%'

(21.888026154474868, '%')

#### 4. На сколько месяцев отличаются медианные значения возраста курящих и некурящих?

In [36]:
df[df['smoke'] == 1]['age'].median()/30

637.5

In [37]:
df[df['smoke'] == 0]['age'].median()/30

657.4

#### 5. Во сколько раз отличаются доли больных в двух сегментах, описанных в задании?

In [92]:
a = df[(df['gender'] == 2) & (df['ap_hi'] < 120) & (df['cholesterol'] == 1) & (round(df['age']/365) >= 60) & (round(df['age']/365) <= 64)]['cardio'].mean()

In [93]:
b = df[(df['gender'] == 2) & (df['ap_hi'] < 180) & (160 < df['ap_hi']) & (df['cholesterol'] == 3) & (round(df['age']/365) >= 60) & (round(df['age']/365) <= 64)]['cardio'].mean()

In [94]:
b/a

2.1052631578947367

#### 6. Постройте новый признак – BMI (Body Mass Index). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.

BMI у женщин

In [6]:
a = df[(df['gender'] == 1)]['weight'].sum() # вес всех женщин в килограммах
b = df[(df['gender'] == 1)]['height'].sum()/100 # рост всех женщин в метрах
round(a/b)

df[(df['gender'] == 1)]['weight'].sum()

45.0

In [7]:
df[(df['gender'] == 1)]['weight'].sum() # вес всех женщин в килограммах

3303912.0

BMI у мужчин:

In [9]:
c = df[(df['gender'] == 2)]['weight'].sum() # вес всех женщин в килограммах
d = df[(df['gender'] == 2)]['height'].sum()/100 # рост всех женщин в метрах
round(c/d)

45.0

In [35]:
BMI = (df['weight']) / (df['height']/100)**2
df.insert(loc=len(df.columns), column='BMI', value=BMI)
df['BMI'].mean()

27.55651255127886

Медианный BMI по выборке лежит в пределах нормы? (Нет)

In [31]:
df['BMI'].mean()

27.55651255127886

У женщин в среднем BMI выше, чем у мужчин (Да)

In [37]:
df[df['gender'] == 1]['BMI'].mean() # BMI у женщин

27.98758344183285

In [38]:
df[df['gender'] == 2]['BMI'].mean() # BMI у мужчин

26.754442357289356

У здоровых в среднем BMI выше, чем у больных (Нет)

In [39]:
df[df['cardio'] == 1]['BMI'].mean() # BMI у больных

28.56606062701535

In [40]:
df[df['cardio'] == 0]['BMI'].mean() # BMI у здоровых

26.5481752067945

В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин (Да)

In [41]:
df[(df['cardio'] == 0) & (df['gender'] == 1) & (df['alco'] == 0)]['BMI'].mean() # BMI у здоровых непьщих женщин

26.845406594131507

In [42]:
df[(df['cardio'] == 0) & (df['gender'] == 2) & (df['alco'] == 0)]['BMI'].mean() # BMI у здоровых непьщих мужчин

25.87263807546017

### Чистка данных

указанное нижнее значение артериального давления выше верхнего

In [101]:
df[(df['ap_lo'] > df['ap_hi'])]['gender'].count()

1234

рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте pd.Series.quantile, если не знаете, что это такое – прочитайте)

In [102]:
df[(df['height'] < df['height'].quantile(.025))]['height'].count()

1537

In [103]:
df[(df['height'] > df['height'].quantile(.975))]['height'].count()

1439

вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

In [104]:
df[(df['weight'] < df['weight'].quantile(.025))]['weight'].count()

1490

In [107]:
df[(df['weight'] > df['weight'].quantile(.975))]['weight'].count()

1613

In [71]:
df['height'].quantile(.025)

150.0

In [72]:
df['height'].quantile(.975)

180.0

In [53]:
df[-1:]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
id,,,,,,,,,,,,,
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,24.913495